{{ form_start(form) }}
    <section class="checkout-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                </div>
            </div>
        </div>
    </section>
{{ form_end(form) }}
