{% extends 'base.html.twig' %}

{% block title %}New CreditCard{% endblock %}

{% block body %}
    <h1>Create new CreditCard</h1>

    {{ include('credit_card/_form.html.twig') }}

    <a href="{{ path('credit_card_index') }}">back to list</a>
{% endblock %}
