{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <h2>Créer un Utilisateur</h2>
    </div>
    <div class="col-lg-4">
        {{ include('user/_form.html.twig') }}
    </div>
    <div class="row">
        <a href="{{ path('user_index') }}" class="site-btn place-btn">back to list</a>
    </div>

{% endblock %}
