{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <h2>Ajouter une adresse</h2>
    </div>
    <div class="col-lg-4">
        {{ include('address/_form.html.twig') }}
    </div>
    <div class="row">
        <a href="{{ path('address_index') }}" class="site-btn place-btn">back to list</a>
    </div>
{% endblock %}
